<strong>Ola, {{ user }}</strong>
<p>Sua matricula no GymPoint foi cancela.</p>
<p>Independete de qual foi o motivo pelo qual você cancelou sua matricula, nos o incentivamos a nunca parar com
  exercícios fisicos semanalmente.</p>
<p>
  Espero contar com você em breve.
  <small>
    Nunca desista!
  </small>
</p>
