<strong>Ola, {{ user }}</strong>
<p>Seja muito bem vindo(a) ao GymPoint</p>
<p>Confira os detalhes da sua matricula abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Vigência até: </strong> {{ date }} <br />
  <strong>Valor Total: </strong> {{ total_price }} <br />
  <small>
    Ficar grande porra!
  </small>
</p>
