<strong>Ola, {{ user }}</strong>
<p>Sua matricula no GymPoint foi atualizada.</p>
<p>Confira os detalhes da sua matricula abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Vigência até: </strong> {{ date }} <br />
  <strong>Valor Total: </strong> {{ total_price }} <br />
  <small>
    Ficar grande porra!
  </small>
</p>
